body{
margin: 0;
padding: 0;
}
.colo{
    border: 5px solid #00A4A6;;
}
.leader{
    font-family: robot;
    
}
.pop{ font-family: Robot;
    color:gray;
}
.intro{
    font-family: Robot;
    color:#00A4A6;
    text-align: center;
}
.para{

    margin-left:40px;
    margin-right: 40px;
    font-family:alegrya sans-serif;
}
.con i{
    color: #fff;
}

.b{
    padding: 43.5px 40px;
    padding-top: 43.5px;
    padding-right: 40px;
    padding-bottom: 43.5px;
    padding-left: 40px;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
   }
  
   .title{
 color:gray;
 font-family: "Iskra";
 font-style: italic;
}

.margin{
margin-right: 5rem;
}
.about{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 1.42857143;
    color: #00A4A6;
}
.font{
    font-family:monospace;
}
/* .float{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 40px;
    background-color: #00A4A6;
    color: rgb(255, 249, 249);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
} */
.phone-call:before, 
.phone-call:after {
    position: absolute;
    content: " ";
    z-index: -1;
    opacity: 0;
    border:50%;
    border:2px solid #34f73e;
    left:-20px;
    right:-20px;
    top:-20px;
    bottom:-19px;
    border-radius: 50%;
}
.phone-call:before{
    animation: pulse 2s linear infinite;
}
.phone-call:after{
    animation: pulse 2s 1s linear infinite;
}
@keyframes pulse{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        transform: scale(0.5);
        opacity: 1;
    }
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
    100%{
        transform: scale(1.2);
        opacity: 0;
    }
}
.phone-call{
    width: 40px;
    height: 40px;
    right: 40px;
    top:50px;
    background: #34f73e;
    position: fixed;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    z-index: 99;
    display: inline-block;
    line-height: 41px;
      }
 .phone-call-call{
  width: 40px;
  height: 40px;
  background:#00A4A6;
  text-align: center;
 cursor: pointer;
 border-radius: 50%;
 z-index: 99;
 display: inline-block;
 line-height: 41px;
 }
 .phone-call-call a i{
   color:#fff;
 }
 /* .featurette-cus{
     background-image: url(../image/sky.png);
     background-repeat: no-repeat;
     margin-bottom: 0;
 } */
.bg-cus{
background-image: url(../image/jt.jpg);
background-size: cover;
background-attachment: fixed;
padding: 40px 0 25px;
}
.btn-outline-success-view{
    color:whitesmoke;
    background-color:#00A4A6;
    }
.btn-success,.btn-success:hover{
    background-color:#00A4A6; ;
}
   /* #backtop{
    scroll-behavior: smooth;
    display:inline;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99999999;
    padding: 0;
    background: #00A4A6;
    border: 1px solid #fff;
    width: 45px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
   } */
   .smoicons a i {
    font-size: 30px;
    margin-left: 20px;
    color: white;
    /* -webkit-text-stroke-color: rgb(29, 27, 27); */
}
.p{
    padding-left: 50px;
    padding-right: 30px;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}
.card-body i {
    color: #00A4A6;
   
}
.phone-call i {
    color:white;
}
.text-light a{
    color: #f6fafa;
    font-family: 'Roboto-Light';
    text-decoration: none;
    outline: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.bg-cus p a, .bg-cus p{
    color: #fff;
}
.h a {
    color: #f74008e8;
    font-family: 'Roboto-Light';
    text-decoration: none;
    outline: none;
    font-size:large;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.h a:hover{
    color: #00A4A6;
}

a {
    color: #00A4A6;
    font-family: 'Roboto-Light';
    text-decoration: none;
    outline: none;
    font-size:large;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.h i {
     margin-right: 12px;
}
.inner img{
    transition: all 1.5s ease;
}
.inner{
    overflow: hidden;
}
.inner:hover img{
    transform: scale(1.5);
}
.p{
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    
 }
 .dropdown-item:hover{
     background-color:#00A4A6;
    color:white;
 }
 .footer ul li a {
    font-weight: 600;
    color: rgb(252, 248, 248);
}

.footer ul li a:hover{
    color: black;
}
    .footer ul {
        list-style-type: none;
    }
   
    .text-teal{
        color:#00A4A6!important;
    }
    .text-w{
        color: white, i !important;;
    }
    .bg-teal  {
background-color:#00A4A6!important;
    }
    .btn-outline-success {
        color:black;
        background-color:#fff;
        border-color:#fff;
    }

    .btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .open>.dropdown-toggle.btn-outline-success {
        color: #fff;
        background-color: #00A4A6;
        border-color: #00A4A6;
    }
    .btn-outline-success-book{
        color:whitesmoke;
        background-color:#00A4A6;
        border-color:black; 

    }
    ul {
        list-style-type: none;
    }
    ul li a {
        font-weight: 600;
        color: #131212;
        font-size:medium;
    }
    
    .image{
    height: 220px;
    overflow: hidden; 
      }
     .image img {
    transition: transform .5s ease;
     }
      .image:hover img {
    transform: scale(1.5);
     }

    .backtotop {
    scroll-behavior: smooth;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 55px;
    right: 20px;
    display: none;
    padding: 1px 5px;
    width: 44px;
    height: 44px;
    color: #fff;
    font-size: 12px;
    background: #00A4A6;
    border-radius: 50%;
    text-transform: uppercase;
    border: 2px solid #fff;
}


